<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Novo Usuario</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeNovoUsuario()">Fechar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">Confirm password</span>
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block">Submit</button>
            
        </form>
        <div class="button-bar"></div>
    </ion-content>
</ion-modal-view>
