<ion-view view-title="Configurações">
  <ion-content>
      <div class="list">

          <ion-toggle ng-model="deficiente" toggle-class="toggle-assertive">Necessidade especial:</ion-toggle>
          <ion-toggle ng-model="timer" toggle-class="toggle-assertive">Exibir timer:</ion-toggle>
          <ion-toggle ng-model="verbalizar" toggle-class="toggle-assertive">Verbalizar dicas:</ion-toggle>

      </div>
      <button class="button button-block button-positive" ng-click="alterar()">Alterar</button>
      <!--<ul class="list">

          <li class="item item-toggle">
              Necessidade especial:
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>
          <li class="item item-toggle">
              Exibir timer
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>
          <li class="item item-toggle">
              Verbalizar dicas
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>-->

</ion-content>
</ion-view>
