<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Recuperar Senha</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEsqueceuSenha()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
        </form>
        <div class="spacer" style="height: 40px;"></div>
        <button class="button button-stable button-block">Recuperar senha</button>
    </ion-content>
</ion-modal-view>
